################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/try3.html
/try2.html
/try.html
